{% load static %}
{% include 'general/main.html' %}

<head>
    {% include 'general/title_meta.html' %}
    <!-- plugin css -->
    <link href="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet"
        type="text/css" />

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
        type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
        type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
        type="text/css" />

    <style>
            .selected{background-color: red;color: #fff;font-weight: bold}
    </style>


    {% include 'general/head_css.html' %}
</head>
{% include 'general/body.html' %}
<!-- Begin page -->
<div id="layout-wrapper" >
    {% include 'stations/no_sidemenu_topbar.html' %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="page-content" >
            <div >
                <!-- heder start-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Profile card start -->
                        <div class="card bg-dark border-dark text-light">
                            <div class="card-body">
                                <div class="row ">
                                    <div class="col-md-1">
                                        <img class="img-fluid mx-auto d-block rounded"
                                            src="{{employee_details.Photo_Path}}" alt="Card image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="row">
                                                    <div class="col-xl-12 font-size-16 text-white-50 mb-1">Emp. Name
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-12 font-size-16 text-white-50 mb-1">Skill Level
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-12 font-size-16 text-white-50 mb-1">Emp. ID</div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="row">
                                                    <div class="col-xl-12 font-size-16 mb-1">{{employee_details.Emp_Name}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-12 font-size-16 mb-1">{{employee_details.Skill_level}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-12 font-size-16 mb-1">{{employee_details.Emp_ID}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Profile card end -->
                    </div>

<!--                    <div class="col-xl-2">-->
<!--                        &lt;!&ndash; waste capture card start &ndash;&gt;-->
<!--                        <div class="card bg-dark border-dark text-light text-sm-center">-->
<!--                            <div class="card-body ">-->
<!--                                <button class="my-3 btn btn-primary" type="button">-->
<!--                                    Logout-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; waste capture card end &ndash;&gt;-->
<!--                    </div>-->

                </div>
                <!-- header end -->

                <div class="row">

                    <div class="col-xl-12 text-end">
                        <!-- waste capture card start -->
                        <div class="card text-light list-inline ">
                            <div class="card-body ">
                                <button id="home_button" class="my-2 btn btn-primary" type="button">
                                    Home
                                </button>
                                <button id="child_button" class="my-2 btn btn-primary" type="button">
                                    Child Part Details
                                </button>
                                <button id="status_button" class="my-2 btn btn-primary" type="button">
                                    Status
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Page content start -->
                <div id="table_content" class="row">
                    <!-- page content left side start -->
                    <div class="col-xl-12">
                        <!-- Order Release Table start-->
                        <div class="row">
                            <!-- process centent right part start -->
                            <!-- form 1 start -->
                            <div class="col-lg-12">

                                {% comment %} Status Table {% endcomment %}
                                <div style="display: block;" id="home_table" class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <!-- table start -->
                                            <table id="example" class="table table-bordered dt-responsive  nowrap w-100">
                                                <thead>
                                                    <tr>
                                                        <th>TPL Number</th>
                                                        <th>FAB Number</th>
                                                        <th>PD No.</th>
                                                        <th>Release Date</th>
                                                        <th>Status</th>
                                                        <th>TPL Description</th>
                                                        <th>Completed Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                {% for i in store_home_data %}
                                                    <tr>

                                                        <td id="exem" data-bs-toggle="modal" data-bs-target=".bs-exem-modal-center5">{{i.TPL_No}}</td>
                                                        <td id="exem" data-bs-toggle="modal" data-bs-target=".bs-exem-modal-center5">{{i.FAB_NO}}</td>
                                                        <td id="exem" data-bs-toggle="modal" data-bs-target=".bs-exem-modal-center5">{{i.pd_no}}</td>
                                                        <td id="exem" data-bs-toggle="modal" data-bs-target=".bs-exem-modal-center5">{{i.Release_Date}}</td>
                                                        <td id="exem" data-bs-toggle="modal" data-bs-target=".bs-exem-modal-center5">{{i.Status}}</td>
                                                        <td id="exem" data-bs-toggle="modal" data-bs-target=".bs-exem-modal-center5">{{i.TPL_Description}}</td>
                                                        <td id="exem" data-bs-toggle="modal" data-bs-target=".bs-exem-modal-center5">{{i.Completed_Date}}</td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                            <div id="myModal" class="modal fade bs-exem-modal-center5" tabindex="-1"
                                                role="dialog" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Selected Order Details</h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <form method="POST">
                                                            {% csrf_token %}
                                                            <div class="modal-body">
                                                                <p style=" text-align: start;"
                                                                    class="text-light bg-dark px-2">Fab No.:
                                                                </p>
                                                                <p style="text-align: center;">
                                                                    <input style='border: 0px; text-align: center' name='fab_number' id="fabData" readonly>
                                                                </p>

                                                                <p style=" text-align: start;"
                                                                    class="text-light bg-dark px-2">TPL No.:
                                                                </p>

                                                                <p style="text-align: center;">
                                                                    <input style='border: 0px; text-align: center' name='tpl_number' id="tplData" readonly>
                                                                </p>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="submit"
                                                                    class="btn btn-primary w-md" name="submit" value="release">Release</button>

                                                                <button id="popup_close" type="submit"
                                                                    class="btn btn-primary w-md" name="submit" value="cancel">Cancel</button>
                                                            </div>
                                                        </form>

                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div><!-- /.modal -->
                                        </div>
                                        <!-- table end -->
                                        <br>
                                        <br>
                                        <!-- Error table start -->
                                        <!-- Error table end -->

                                    </div>
                                </div>

                                <div style="display: none;" id="status_table" class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <!-- table start -->
                                            <table id="example12345" class="table table-bordered dt-responsive  nowrap w-100"
                                                >
                                                <thead>
                                                    <tr>
                                                        <th>TPL_No</th>
                                                        <th>FAB_No</th>
                                                        <th>PD_No</th>
                                                        <th>TPL_Description</th>
                                                        <th>Release_Date</th>
                                                        <th>Status</th>
                                                        <th>Station</th>
                                                        <th>Completed_Date</th>

                                                    </tr>
                                                </thead>


                                                <tbody>
                                                {% for i in status_data %}
                                                    <tr>
                                                        <td>{{i.TPL_No}}</td>
                                                        <td>{{i.FAB_NO}}</td>
                                                        <td>{{i.pd_no}}</td>
                                                        <td>{{i.TPL_Description}}</td>
                                                        <td>{{i.Release_Date}}</td>
                                                        <td>{{i.Status}}</td>
                                                        <td>{{i.Station}}</td>
                                                        <td>{{i.Completed_Date}}</td>

                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>

                                        </div>
                                        <!-- table end -->
                                        <br>
                                        <br>
                                        <!-- Error table start -->
                                        <!-- Error table end -->

                                    </div>
                                </div>

                                {% comment %} Child Table {% endcomment %}
                                <div style="display: none;" id="child_table" class="card">
                                    <!-- <div class="card-header">
                                         <h4 class="card-title">Default Datatable</h4>

                                     </div>-->
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="datatable-buttons" class="table table-bordered dt-responsive  nowrap w-100">
                                                <thead>
                                                    <tr>
                                                        <th>SQ</th>
                                                        <th>PO_No</th>
                                                        <th>FAB_No</th>
                                                        <th>TPL_Desc</th>
                                                        <th>AE</th>
                                                        <th>MTR</th>
                                                        <th>CP</th>
                                                        <th>TNK</th>
                                                        <th>FAN</th>
                                                        <th>COO</th>
                                                        <th>VFD</th>
                                                        <th>DRY</th>
                                                        <th>CPY</th>
                                                        <th>SHR</th>
                                                        <th>ADR</th>
                                                        <th>COU</th>
                                                        <th>sts</th>
                                                    </tr>
                                                </thead>


                                                <tbody>
<!--                                                    <tr>-->
<!--                                                        <td></td>-->
<!--                                                        <td>210045468</td>-->
<!--                                                        <td>EG-22-10-V</td>-->
<!--                                                        <td>123</td>-->
<!--                                                        <td>1234</td>-->
<!--                                                        <td>1234/R10</td>-->
<!--                                                        <td>1234</td>-->
<!--                                                        <td>1234</td>-->
<!--                                                        <td>1234</td>-->
<!--                                                        <td>1234</td>-->
<!--                                                        <td>1234</td>-->
<!--                                                        <td>1234</td>-->
<!--                                                        <td contenteditable="true">1234</td>-->
<!--                                                        <td contenteditable="true">1234</td>-->
<!--                                                        <td contenteditable="true">1234</td>-->
<!--                                                        <td style="padding-top: 10px;">-->
<!--                                                            <select id="select1" class="form-control" onchange="removeRow(this)">-->
<!--                                                                  <option value="val1">P</option>-->
<!--                                                                  <option value="val2">C</option>-->
<!--                                                            </select>-->
<!--                                                        </td>-->

<!--                                                    </tr>-->
                                                {% for i in cp_details_data %}
                                                    <tr>
                                                        <td contenteditable="true">{{forloop.counter}}</td>
                                                        <td>{{i.PO_No}}</td>
                                                        <td>{{i.FAB_NO}}</td>
                                                        <td>{{i.TPL_Desc}}</td>
                                                        <td>{{i.CP_AIREND}}</td>
                                                        <td>{{i.CP_MOTOR}}</td>
                                                        <td>{{i.CP_CONTROL_PANEL}}</td>
                                                        <td>{{i.CP_TANK}}</td>
                                                        <td>{{i.CP_FAN_MOTOR}}</td>
                                                        <td>{{i.CP_COOLER}}</td>
                                                        <td>{{i.CP_VFD}}</td>
                                                        <td>{{i.CP_DRYER}}</td>
                                                        <td>{{i.CP_CANOPY}}</td>
                                                        <td contenteditable="true">{{i.SHR}}</td>
                                                        <td contenteditable="true">{{i.ADR}}</td>
                                                        <td contenteditable="true">{{i.COU}}</td>
                                                        <td style="padding-top: 10px;">
                                                            <select id="select1" class="form-control" onchange="removeRow(this)">
                                                                  <option value="val1">P</option>
                                                                  <option value="val2">C</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- end col -->
                            <!-- form 1 end -->
                            <!-- process centent left part end -->

                        </div>

                    </div>
                    <!-- page content left side end -->

                    <!-- page content right side start -->

                    <!-- page content right side end -->
                </div>
                <!-- page content end -->

            </div>

            <!--End  container-fluid -->
        </div>
        <!-- End Page-content -->
        {% include 'general/footer.html' %}
    </div>

    <!-- end main content-->
</div>

<!--highlight-->
<script>

    var table = document.getElementById("datatable-buttons"),rIndex,cIndex;

            // table rows
            for(var i = 1; i < table.rows.length; i++)
            {
                // row cells
                for(var j = 0; j < table.rows[i].cells.length; j++)
                {
                    table.rows[i].cells[j].onclick = function()
                    {
<!--                        var rows1 = table.getElementsByTagName("tr");-->
<!--                        for (var i = 0; i < rows1.length; i++) {-->
<!--                            rows1[i].style.backgroundColor = "";-->
<!--                            var cells = rows1[i].getElementsByTagName("td");-->
<!--                            for (var j = 0; j < cells.length; j++) {-->
<!--                                cells[j].style.backgroundColor = "";-->
<!--                            }-->
<!--                        }-->

                        rIndex = this.parentElement.rowIndex;
                        cIndex = this.cellIndex+1;
                        console.log("Row : "+rIndex+" , Cell : "+cIndex);
                         table.rows[rIndex].cells[cIndex-1].style.backgroundColor = 'green';
                         // table.rows[rIndex].style.backgroundColor = 'yellow';
                    };
                }
            }


</script>

// status table rows
<script>

        highlight_row();
        function highlight_row() {
            var table = document.getElementById('example12345');
            var cells = table.getElementsByTagName('td');

            for (var i = 0; i < cells.length; i++) {
                // Take each cell
                var cell = cells[i];
                // do something on onclick event for cell
                cell.onclick = function () {
                    // Get the row id where the cell exists
                    var rowId = this.parentNode.rowIndex;

<!--                    var rowsNotSelected = table.getElementsByTagName('tr');-->
<!--                    for (var row = 0; row < rowsNotSelected.length; row++) {-->
<!--                        rowsNotSelected[row].style.backgroundColor = "";-->
<!--                        rowsNotSelected[row].classList.remove('selected');-->
<!--                    }-->
                    var rowSelected = table.getElementsByTagName('tr')[rowId];
                    rowSelected.style.backgroundColor = "green";
                    rowSelected.className += " selected";
                }
            }
        }
</script>

//home table rows
<script>

        highlight_row();
        function highlight_row() {
            var table = document.getElementById('example');
            var cells = table.getElementsByTagName('td');

            for (var i = 0; i < cells.length; i++) {
                // Take each cell
                var cell = cells[i];
                // do something on onclick event for cell
                cell.onclick = function () {
                    // Get the row id where the cell exists
                    var rowId = this.parentNode.rowIndex;

<!--                    var rowsNotSelected = table.getElementsByTagName('tr');-->
<!--                    for (var row = 0; row < rowsNotSelected.length; row++) {-->
<!--                        rowsNotSelected[row].style.backgroundColor = "";-->
<!--                        rowsNotSelected[row].classList.remove('selected');-->
<!--                    }-->
                    var rowSelected = table.getElementsByTagName('tr')[rowId];
                    rowSelected.style.backgroundColor = "green";
                    rowSelected.className += " selected";
                }
            }
        }
</script>

<!--dropdown dependent row-->
<script>

    function removeRow(selectElement) {

      var selectedOption = selectElement.value;
      if (selectedOption === 'val2') {

<!--        var row = selectElement.parentNode.parentNode; // Get the parent row of the select element-->
<!--        var table = document.getElementById('datatable-buttons'); // Get the table element-->
<!--        table.deleteRow(row.rowIndex); // Delete the row-->
<!--        console.log("hi");-->
            window.confirm("Data store ?");
            console.log("hi")

      }
    }


</script>


{% include 'general/right_side_bar.html' %}
{% include 'general/vendor_script.html' %}



<!-- Required datatable js -->
<script src="{%static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{%static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

<!-- Buttons examples -->
<script src="{%static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{%static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{%static 'libs/jszip/jszip.min.js' %}"></script>
<script src="{%static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{%static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{%static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{%static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{%static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

<!-- Responsive examples -->
<script src="{%static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{%static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{%static 'js/pages/datatables.init.js' %}"></script>
<script src="{%static 'js/app.js' %}"></script>

{% comment %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> {% endcomment %}
<script src="{% static 'js/app.js' %}"></script>

<script>
    $(document).ready(function () {
        $("#popup_close").click(function () {
            console.log("ghg")
            $("#myModal").modal('hide');
        });
    });
</script>

<script>

    $(document).ready(function () {

        $("#home_table").css("display", "block");

        $("table tr").each(function () {
            $(this).find("td:lt(2)").addClass("disabled");
        });

        $("table tr").click(function () {
            var tplCellValue = $(this).find("td:eq(0)").text();
            var febCellValue = $(this).find("td:eq(1)").text();

            $("#tplData").val(tplCellValue);
            $("#fabData").val(febCellValue);
        });

        $("#status_button").click(function () {

            $("#status_table").css("display", "block");
            $("#child_table").css("display", "none");
            $("#home_table").css("display", "none");



            console.log("clicked happended");
        })

        $("#child_button").click(function () {

            $("#status_table").css("display", "none");
            $("#child_table").css("display", "block");
            $("#home_table").css("display", "none");


            console.log("clicked happended");
        })

        $("#home_button").click(function () {

            $("#home_table").css("display", "block");
            $("#child_table").css("display", "none");
            $("#status_table").css("display", "none");

            console.log("clicked happended");
        })

    });

</script>

 <script>

            $(document).ready(function() {
                var table = $('#example').DataTable( {
                    lengthChange: false,
                    buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
                } );

                table.buttons().container()
                    .appendTo( '#example_wrapper .col-md-6:eq(0)' );
            } );

            $('#home_table').css({
                'display' : 'none'
            });
 </script>

<script>

            $(document).ready(function() {
                var table = $('#example12345').DataTable( {
                    lengthChange: false,
                    buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
                } );

                table.buttons().container()
                    .appendTo( '#example_wrapper1 .col-md-6:eq(0)' );
            } );

            $('#status_table').css({
                'display' : 'none'
            });
 </script>

</body>

</html>